.airbnb-example {
  width: 600px;
  height: 340px;
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 0 10px 4px rgba(206, 206, 206, 0.3);
  .rdp__container {
    width: 226px;
    height: 290px;
  }
  
  .navigate-btn {
    height: 19px;
    width: 19px;
    margin-top: 5px;
    fill: rgb(130, 136, 138);
  }
  
  .rdp__title-center {
    font-weight: bolder;
  }

  .rdp__labels {
    font-size: 12px;
    color: rgb(117, 117, 117);
  }
  
  .rdp__next-btn,
  .rdp__prev-btn {
    height: 29px;
    width: 46px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid rgb(228, 231, 231);
    background: none;
    cursor: pointer;
  }
  
  .rdp-days__row {
    margin: -1px 0 0 0;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(228, 231, 231);
  }
  
  .rdp__days-item {
    width: 32px;
    height: 32px;
    border-right: 1px solid rgb(228, 231, 231);
  }
  
  .rdp__days-item:last-child {
    border-right: 0;
  }
  
  .rdp__days-item-active--end,
  .rdp__days-item-active--start {
    border-radius: 0;
  }
  
  .rdp__days-item-active, 
  .rdp__days-item-active--start, 
  .rdp__days-item-active--end, 
  .rdp__days-item-active--single, 
  .rdb__days-item-active--connect {
    background-color: rgb(102, 226, 218);
  }

  .rdp__days-item-active--start,
  .rdp__days-item-active--end {
    background-color: rgb(0, 166, 153);
  }
}

