@import '../style.less';

.container {
  width: 280px;
}

.rdp__calendar-headers {
  margin: 10px 0;
}

.rdp__calendar-cell-start,
.rdp__calendar-cell-end,
.rdp__calendar-cell-selected {
  background-color: rgb(0, 166, 153);
  color: #FFF;
}

.rdp__calendar-cell-connect {
  background-color: rgba(0, 166, 153, .4);
  color: #FFF;
}

.rdp__calendar-cell-disabled.rdp__calendar-cell-selected {
  opacity: 0.8;
}

.rdp__nav-button {
  border: 1px solid rgb(228, 231, 231);
  display: inline-flex;
  align-items: center;
  padding: 6px 8px;
  border-radius: 4px;
  background-color: #FFF;
}

.multiple-calendar-container {
  width: 900px;
}