@import './calendar.scss';

.rdp__container {
  width: 400px;
  height: 500px;
  overflow: hidden;
}

.rdp-range__container {
  width: 800px;
  height: 500px;
  overflow: hidden;
  .rdp__container {
    width: 50%;
    display: inline-block;
  }
}