@import './calendar.scss';

body {
  font-family: Circular, PingFang-SC, "Hiragino Sans GB", 微软雅黑, "Microsoft YaHei", "Heiti SC" !important;
}

.rdp__container {
  width: 280px;
  height: 350px;
  overflow: hidden;
  font-size: 14px;
  user-select: none;
  margin: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2)
}

.rdp-range__container {
  width: 690px;
  height: 366px;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
  .rdp__container {
    display: inline-block;
    box-shadow: none;
  }
}

.rdp-range__calendar {
  display: inline-block;
  margin: 0 10px;
}