@import './calendar.scss';

body {
  font-family: Circular, PingFang-SC, "Hiragino Sans GB", 微软雅黑, "Microsoft YaHei", "Heiti SC" !important;
}

.rdp__container {
  max-width: 100%;
  overflow: hidden;
  font-size: 14px;
  user-select: none;
  box-sizing: border-box;
}

.rdp-range__container {
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  .rdp__container {
    display: inline-block;
    box-shadow: none;
    vertical-align: top;
  }
}

.rdp-range__calendar {
  max-width: 50%;
  display: inline-block;
  vertical-align: top;
}