@border: 1px solid #efefef;

.rdp__calendar-header,
.rdp__calendar-week,
.rdp__calendar-cell {
  height: 40px;
  font-size: 13px;
}

.rdp__calendar-header {
  color: rgb(72, 72, 72);
  font-size: 18px;
  font-weight: bolder;
  padding: 10px 0;
}

.rdp__calendar-body {
  display: table;
  box-sizing: border-box;
  border-collapse: collapse;
}

.rdp__calendar-body-row {
  display: table-row;
  border-collapse: collapse;
  border-spacing: 0px;
}

.rdp__calendar-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border: 1px solid rgb(228, 231, 231);
  &.rdp__calendar-cell-outside {
    border: none;
  }
}

.rdp__picker-calendar-column {
  padding: 0 20px;
}
